


.filter{
    display: flex;
    padding: 10px;
    .eachFilter{
        margin-left: 20px;
    }
}

.MuiBox-root{
margin: 20px;
}
.css-wjh20t-MuiPagination-ul,.css-1xgjpwf-MuiGrid-root{
    justify-content: center;
}
.MuiTypography-root.MuiTypography-body2.css-r40f8v-MuiTypography-root{
    //height: 100%;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    height: 100%;
}
