
.detailbox{
    box-shadow: 0px 0px 1px 1px gray;
    padding: 20px;
}

.detailbox img{
    
    width:400px;
    height:300px;
    margin: 0 auto;
    display: block;
}
.detailbox{
    text-align: center;
}
